[submodule "alertmanager"]
	path = alertmanager
	url = https://github.com/prometheus/alertmanager
	branch = v0.32.1 # git submodules can't handle tags, but renovate can
[submodule "prometheus"]
	path = prometheus
	url = https://github.com/prometheus/prometheus.git
	branch = release-3.11
[submodule "obo-prometheus-operator"]
	path = obo-prometheus-operator
	url = https://github.com/rhobs/obo-prometheus-operator
	branch = rhobs-rel-0.90.1-rhobs1
[submodule "observability-operator"]
	path = observability-operator
	url = https://github.com/rhobs/observability-operator
	branch = release-1.5
[submodule "ui-logging-pf4"]
	path = ui-logging-pf4
	url = https://github.com/openshift/logging-view-plugin.git
	branch = release-coo-ocp-4.12
[submodule "ui-logging-pf5"]
	path = ui-logging-pf5
	url = https://github.com/openshift/logging-view-plugin.git
	branch = release-coo-ocp-4.15
[submodule "ui-logging"]
	path = ui-logging
	url = https://github.com/openshift/logging-view-plugin.git
	branch = release-coo-ocp-4.22
[submodule "ui-dashboards"]
	path = ui-dashboards
	url = https://github.com/openshift/console-dashboards-plugin.git
	branch = release-coo-ocp-4.12
[submodule "ui-troubleshooting-panel-pf6"]
	path = ui-troubleshooting-panel-pf6
	url = https://github.com/openshift/troubleshooting-panel-console-plugin.git
	branch = release-coo-ocp-4.19
[submodule "ui-troubleshooting-panel"]
	path = ui-troubleshooting-panel
	url = https://github.com/openshift/troubleshooting-panel-console-plugin.git
	branch = release-coo-ocp-4.22
[submodule "ui-monitoring-pf5"]
	path = ui-monitoring-pf5
	url = https://github.com/openshift/monitoring-plugin.git
	branch = release-coo-ocp-4.15
[submodule "ui-monitoring-pf6"]
	path = ui-monitoring-pf6
	url = https://github.com/openshift/monitoring-plugin.git
	branch = release-coo-ocp-4.19
[submodule "ui-monitoring"]
	path = ui-monitoring
	url = https://github.com/openshift/monitoring-plugin.git
	branch = release-coo-ocp-4.22
[submodule "thanos"]
	path = thanos
	url = https://github.com/openshift/thanos.git
	branch = release-4.22
[submodule "korrel8r"]
	path = korrel8r
	url = https://github.com/korrel8r/korrel8r.git
	branch = release-coo-1.4
[submodule "perses-operator"]
	path = perses-operator
	url = https://github.com/rhobs/perses-operator
	branch = release-coo-1.5
[submodule "perses"]
	path = perses
	url = https://github.com/rhobs/perses.git
	branch = release-coo-1.5
[submodule "cluster-health-analyzer"]
	path = cluster-health-analyzer
	url = https://github.com/openshift/cluster-health-analyzer
	branch = release-1.1
[submodule "ui-distributed-tracing-pf4"]
	path = ui-distributed-tracing-pf4
	url = https://github.com/openshift/distributed-tracing-console-plugin.git
	branch = release-coo-ocp-4.12
[submodule "ui-distributed-tracing-pf5"]
	path = ui-distributed-tracing-pf5
	url = https://github.com/openshift/distributed-tracing-console-plugin.git
	branch = release-coo-ocp-4.15
[submodule "ui-distributed-tracing-pf6"]
	path = ui-distributed-tracing-pf6
	url = https://github.com/openshift/distributed-tracing-console-plugin.git
	branch = release-coo-ocp-4.19
[submodule "ui-distributed-tracing"]
	path = ui-distributed-tracing
	url = https://github.com/openshift/distributed-tracing-console-plugin.git
	branch = release-coo-ocp-4.22